<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
  
  
  
  <servlet>
  	<display-name>elclass</display-name>
    <servlet-name>ActionServlet</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>validating</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
</servlet>
   
  <servlet-mapping>
    <servlet-name>ActionServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  
	 <!--  Filters Implementation  -->
	 <filter>
	 	<filter-name>UserAccessFilter</filter-name>
	 	<filter-class>sb.elpro.action.UserAccessFilter</filter-class>
	 </filter>
	 <filter-mapping>
	 	<filter-name>UserAccessFilter</filter-name>
	 	<url-pattern>/*</url-pattern>
	 </filter-mapping>
	 
	 
	 <!--  Listeners  -->
	 <listener>
		<listener-class>sb.elpro.utility.Config</listener-class>	
 	 </listener>
	  
	 <!-- Sessin Config  -->
	 <session-config>
		<session-timeout>600</session-timeout>
    	<tracking-mode>COOKIE</tracking-mode>
	</session-config>
	
	<!--  Welcome File List -->	 
   <welcome-file-list>
        <welcome-file>/Home.jsp</welcome-file>
   </welcome-file-list>
	 
   <!--  Jsp Config -->	
   <jsp-config>
  	 <jsp-property-group>
     	<url-pattern>*.jsp</url-pattern>
    	<trim-directive-whitespaces>true</trim-directive-whitespaces>
  	 </jsp-property-group>
   </jsp-config>
  
  

</web-app>